* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #003049;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: #fcbf49;
    font-size: 8vmin;
    color: #d62828;
    background-color: #f77f00;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #000000;
    color: #edf2f4;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #000000;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #f1f2f6;
    font-size: 8vmin;
  }
  
  .msg-container {
    height: 99vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

